body{
    margin: 0px;
    padding: 0px;
    background-color:rgba(255, 255, 255, 0.096)
}
main{
    background-image: url("Images/artwork-native.webp");
    height: 67vh;
    width: 100vh;
    margin: 2px;
    margin-left: 90vh;
    border-radius: 20px;
}

.def{
    font-style: oblique;
    margin: 6px;
}
.motion{
    position: absolute;
    top: 50%;
    right: 70%;
    transform: translate(10%, -40%);
    
}
.motion h2{
    color: lightslategray;
    font-style: italic;
    

}
.dev-name{
    font-variant:small-caps
}
.motion p span {
    color: rgb(57, 235, 57);
    font-style: oblique;
    font-weight: 700;
    font-size: larger;
}