*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    display: grid;
    text-align: center;
    place-items: center;
    background: gray
}
.circular{
    position: relative;
    height: 100px;
    width: 100px;
    background: white;
    padding: 10px;
    margin: 140px;
    transform: scale(2);
    border-radius: 10px;
}
.circular .inner{
    position: absolute;
    background: #dde6f0;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin: -40px 0px 0px -40px;
    border-radius: 100%;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.circular .bar  {
    position: absolute;
    height: 40px;
    width: 40px;
    transform: translate(50%, 50%);
    background: white;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px 100px 50px);

}
